.section2{
  width: 100%;
  .header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    h1{
      font-size: 40px;
      filter: drop-shadow(3px 3px 0px #00000096);
      color: #CCCCCC;
      margin-bottom: 20px;
    }
    h3{
      filter: drop-shadow(0 5px 5px #00000096);
      font-size: 20px;
      color: #CCCCCC;
    }
  }
  .parrafos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #CCCCCC;
    gap: 100px;
    padding: 0 40px;
    div:nth-child(1),
    div:nth-child(2){
      width: 500px;
      h2{
        text-align: center;
        
        filter: drop-shadow(0 5px 5px #00000096);
        padding-bottom: 20px;
      }
      p, li{
        font-family: Lora;
        color: white;
        text-align: justify;
      }
      
      li{
        margin-bottom: 20px;
      }
      p{
        margin-bottom: 40px;
      }
    }
  }
  
  .missionVision {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;
    h2 {
      color: #cccccc;
    }
  }

  .trustedPartner {
    text-align: center;
    background-color: #141414;
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    color: #cccccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
      padding: 10px 0;
      font-size: 30px;
      margin-bottom: 10px;
    }
    .divTexto{
      width: 56.25em;
      margin-bottom: 10px;
    }
  }
  
  .values {
    margin-bottom: 2rem;
    h1{
      margin-bottom: 2rem;
      font-size: 40px;
      text-align: center;
      color: #cccccc;
      filter: drop-shadow(2px 2px 0 #00000096);
    }
    .valueItems {
      display: grid;
      grid-template-columns: repeat(5, 1fr); /* 5 columnas */
      grid-template-rows: repeat(2, 1fr); /* 2 filas */
      gap: 1rem;
      margin: 0 100px;
      justify-items: center; /* Centra horizontalmente en cada celda */
      align-items: center; /* Centra verticalmente en cada celda */
      div{
        border-radius: 8px;
        color: #cccccc;
        width: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .icon {
          width: 60px;
          height: 60px;
          margin-bottom: 10px;
        }
      }

      div:nth-child(1) {
        grid-column: 1; /* Columna 1 */
        grid-row: 1; /* Fila 1 */
      }
      
      div:nth-child(2) {
        grid-column: 2; /* Columna 2 */
        grid-row: 2; /* Fila 2 */
      }
      
      div:nth-child(3) {
        grid-column: 3; /* Columna 3 */
        grid-row: 1; /* Fila 1 */
      }
      
      div:nth-child(4) {
        grid-column: 4; /* Columna 4 */
        grid-row: 2; /* Fila 2 */
      }
      
      div:nth-child(5) {
        grid-column: 5; /* Columna 5 */
        grid-row: 1; /* Fila 1 */
      }
      div:nth-child(1) .icon,
      div:nth-child(5) .icon{
        color: #07A160; /* Azul para el primer y quinto hijo */
        filter: drop-shadow(0 5px 10px #07a16188);
      }

      div:nth-child(2) .icon,
      div:nth-child(4) .icon{
        color: #00AB8C; /* Rojo para el segundo y cuarto hijo */
        filter: drop-shadow(0 5px 10px #00AB8C88);
      }

      div:nth-child(3) .icon{
        color: #D29E4E; /* Verde para el tercer hijo */
        filter: drop-shadow(0 5px 10px #D29E4E88);
      }
      p{
        font-size: larger;
        font-family: Lora;
        text-align: center;
      }
    }
  }
  
  
  .team {
    text-align: center;
    margin-bottom: 40px;
    h1 {
      color: #cccccc;
      margin-bottom: 1.5rem;
      filter: drop-shadow(2px 2px 0 #00000096);
      font-size: 40px;
    }
    .patagonMembers{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .member{
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: column;
        /* background-color: #970505; */
        width: fit-content;
        height: 300px;
        margin-bottom: 60px;
        border-radius: 8px;
        color: #b3b3b3;
        img{
          width: 250px;
          max-height: 310px;
          height: auto;
          border-radius: 50%;
          box-shadow: 0 5px 10px #00000096;
        }
        span{
          margin-top: 20px;
          color: #cccccc;
          font-size: x-large;
          font-family: Jakobenz;
        }
      }
    }
    .teamMembers {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center; /* Centra horizontalmente en cada celda */
      align-items: center; /* Centra verticalmente en cada celda */
      gap: 1.5  rem;
      .member {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: column;
        /* background-color: #970505; */
        width: fit-content;
        height: 300px;
        margin-bottom: 60px;
        border-radius: 8px;
        color: #b3b3b3;
        img{
          width: 250px;
          max-height: 310px;
          height: auto;
          filter: drop-shadow(0 5px 10px #00000096);
          border-radius: 50%;
        }
        span{
          margin-top: 20px;
          color: #cccccc;
          font-size: x-large;
          font-family: Jakobenz;
        }
        &:nth-child(1),
        &:nth-child(4){
          grid-column: 1;

          /* span{
            color: #00AB8C96;
          } */
          img{
            filter: drop-shadow(0 2px 10px #00000096);
          }
        }

        &:nth-child(2),
        &:nth-child(5){
          grid-column: 2;
          /* span{
            color: #D29E4E96;
          } */
          img{
            filter: drop-shadow(0 2px 10px #00000096);
          }
        }

        &:nth-child(3),
        &:nth-child(6){
          grid-column: 3;
          /* span{
            color: #07A16096;
          } */
          img{
            filter: drop-shadow(0 2px 10px #00000096);
          }
        }
      }
    }
  }
  
  
}