.container{
    display: grid;
    justify-items: center;
    grid-template-rows: auto 1fr auto ;
    min-height: 100vh;
    width: 100%;
}


.dashboardWidgets{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    max-width: 1700px;
    }



.section2{
    background-color: #4e4646;
}

.gap{
    height: 7rem;
    width: 100%;
}