.container{
    display: grid;
    justify-items: center;
    grid-template-rows: auto 1fr auto ;
    min-height: 100vh;
}

.section1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboardWidgets{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    max-width: 1700px;
}
