.container{
    background-color: #101010;
    height: 100vh;
}

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border-radius: 40px; */
    /* background: linear-gradient(to right, #919191, #727272); */
    padding: 30px 0;
    margin-bottom: 30px;
    .dashboardWidgets{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        width: 80%;
    }
    }

.section2{
    background-color: #4e4646;
}

