.historial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
    color: white;
    font-family: Arial, sans-serif;
    padding: 3em 0;
  }
  
  .historial-title {
    margin-bottom: 20px;
    font-size: 32px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  }
  
  .table-container {
    background: linear-gradient(180deg, #333333, #222222);
    width: 80%;
    max-height: 30rem;
    border-radius: 20px;
    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .table-header, .table-row {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr 1fr;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
  }
  
  .table-header {
    background-color: #333333;
    border-bottom: 1px solid #555555;
  }
  
  .table-row {
    align-items: center;
    background-color: #444444;
    border-bottom: 1px solid #555555;
    transition: background 0.3s;
  }
  
  .table-row:hover {
    background-color: #555555;
  }
  
  .table-cell {
    display: flex;
    align-items: center;
  }
  
  .id-cell {
    width: 30px;
    height: 30px;
    text-align: center;
    color: #ffffff;
    font-size: small;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }
  
  .pagination button {
    padding: 8px 16px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #45a049; 
  }
  
  .pagination button:disabled {
    background-color: #8b8b8b; 
    color: #666;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-size: 14px;
    color: #fffbfb;
  }
  
  .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3); 
    border-top: 4px solid #3498db; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
.cartola{
  background: none;
  border: none;
  color: white;
  margin-bottom: 10px;
  align-items: center;
}

.cartola img{
  width: 20px;
  height: auto;
  margin-right: 5px;

}

.headerModal{
  display: flex;
  justify-content: space-between ;
  align-items: center;
}

.headerModal > div > img{
  width: 40px;
  height: auto;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 39%;
  height: 100%;
  background-color: #222222;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 20px;
  animation: slideIn 0.3s ease-out;
}

.modal-content {
  overflow-y: auto;
  background-color: #222222; /* Fondo consistente */
  padding-bottom: 20px; /* Asegura que el fondo no se vea cortado */
}

@keyframes slideIn {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

.modal-content {
  overflow-y: auto;
}

.modal-content > h2{
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #cac8c8;
}

.modal-content > h3{
  font-size: 12px;
  color: #cac8c8d0;
  letter-spacing: 0.5px;
}

.info {
  margin-top: 20px;
  display: grid; 
  grid-template-columns: 1fr; /* Dos columnas: la primera tiene menos espacio (1fr), la segunda tiene más espacio (2fr) */
  gap: 10px; /* Espacio entre las columnas */
  font-size: 12px;
  color: #cac8c8d0;
  letter-spacing: 1px;
  margin-bottom: 30px;
}


.modal-content > hr{
  border: 0;
  border-top: 2px solid #444; 
  margin: 10px 0; 
}


.close-button {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 12px;
  cursor: pointer;
  color: #cac8c8;
  letter-spacing: 1px;
  padding-bottom: 20px;

}

.footerModal{
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #444;
  display: flex;
  gap: 10px;

}

.footerModal > h3{
  font-size: 12px;
  color: #cac8c8;
  letter-spacing: 1px;
  
}

.download{
  display: flex;
  font-size: 12px;
  color: #cac8c8;
  gap: 5px;
  align-items: center;
  
}

