.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffffff; /* Gris intermedio */
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.stepsList {
  list-style-type: none;
  padding: 0;
}

.step {
  margin-bottom: 10px;
}

.stepTitle {
  cursor: pointer;
  background-color: #505050;
  padding: 10px;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  font-size: 20px;
  font-weight: bold;
  color: #ccc;
}

.stepContent {
  transition: max-height 0.2s, padding 0.2s;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: #858484ab;
  color: #ccc;
  max-height: 0;
  overflow: hidden;
  padding: 0 10px;
}

.stepContent a{
  text-decoration: none;
  font-style: none;
}

.stepContent p {
  padding: 10px 0;
}

.open {
  max-height: 500px; /* Ajusta este valor según el contenido */
  padding: 10px;
  border-top: 1px solid #ccc;
}

.closing {
  max-height: 0;
  padding: 0 10px;
}