.ProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
  height: 100vh;
  color: white;
  font-family: Arial, sans-serif;
  padding-top: 100px;
}

.ProfileCard {
  background: linear-gradient(180deg, #333333, #222222);
  width: 60%;
  height: 300px;
  border-radius: 20px;
  display: flex;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: space-between;
}

.LeftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.ProfileImage {
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  border-radius: 50%;
  margin-bottom: 10px;
}

.UserInfo {
  text-align: center;
}

.UserName {
  font-size: 18px;
  font-weight: bold;
}

.RightSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.BatteryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BatteryLabel {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Battery {
  width: 80%;
  height: 24px;
  background-color: #e0e0e0;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.BatteryLevel {
  height: 100%;
  border-radius: 12px;
  transition: width 0.3s ease;
}

.BatteryPercentage {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #ccc;
}

