.ProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #cccccc;
  font-family: Arial, sans-serif;
  margin-top: 50px;
  height: fit-content;
  padding: 30px;
  /* background: linear-gradient(145deg, #292929, #1f1f1f);
  border: 3px solid #383838;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); */
}

.ProfileHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 30px;
}

.ProfileCard {
  background: red;
  width: 80%;
  max-width: 900px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.ProfileImage {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f0f0f0; */
  /* border: 2px solid #444; */
  overflow: hidden;
  /* border: #9e9191 3px solid; */
}

.ProfileImage .img {
  height: 90px;
  color: #cccccc;
  filter: drop-shadow(5px 4px 4px #00000073);
  padding: 20px;
}

.ProfileName {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  filter: drop-shadow(5px 4px 4px #00000073);
}

.ContactIcons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.Icon {
  width: 100%;
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Icon:hover {
  color: #fff;
}

.ProfileDetails {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 20px;
}

.Section {
  flex: 1;
  border: #5c5c5c8c solid 1px;
  text-align: center;
  background-color: #2b2b2b;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.Section > h2 {
  font-size: 20px;
  color: #ffeb3b;
  filter: drop-shadow(3px 3px 3px #00000096);
  margin-bottom: 10px;
}

.Section > p {
  margin: 5px 0;
  font-size: 16px;
  color: #ccc;
}

.BatteryContainer {
  text-align: center;
}

.BatteryLabel {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Battery {
  width: 100%;
  height: 20px;
  background-color: #444;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.BatteryLevel {
  height: 100%;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.BatteryPercentage {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #ffeb3b;
}


.ButtonContainer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.Button {
  background-color: #5ca066;
  color: #cccccc;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Button:hover {
  background-color: #45a049;
}

.Button:active {
  background-color: #3e8e41;
}
