.purchaseContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
  align-items: flex-start;
}

.purchaseDetails {
  flex: 3;
  padding: 20px;
  background-color: rgb(37, 37, 37);
  border-radius: 8px;
  border: 1px solid #242323;
  height: auto; 

}

.purchaseDetails h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.purchaseDetails p {
  font-size: 18px;
  margin: 8px 0;
  color: #fffbfb;
}

.purchaseSummary {
  flex: 1;
  padding: 10px;
  background-color: rgb(37, 37, 37);
  border-radius: 8px;
  border: 1px solid #242323;
  margin-left: 20px;
  height: 470px; 
  display: flex;
  flex-direction: column;
  align-content: center;
  
}

.purchaseSummary h3 {
  font-size: 20px;
  margin-bottom: 30px;
}

.purchaseSummary p {
  font-size: 18px;
  margin: 8px 0;
  color: #fffbfb;
}

.totalPrice {
  font-size: 22px;
  font-weight: bold;
  margin-top: 100px;
}

.buyButton {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
}

.buyButton:hover {
  background-color: #218838;
}

.summaryRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 18px;
}

.purchaseDetails .condiciones {
  margin-top: 35px;
  font-size: 12px;
  font-style: italic;
}

.termsContainer{
  font-size: 14px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.logo img{
  width: 80px;
  height: 80px;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db; 
  width: 20px; 
  height: 20px; 
  animation: spin 1s linear infinite;
  display: inline-block; 
  margin-right: 5px; 
}

.paymentMethod {
  display: flex;                /* Usar flexbox para organizar en fila */
  align-items: center;         /* Centrar verticalmente */
  gap: 20px;                   /* Espacio entre los elementos */
  margin-top: 16px;            /* Espacio superior para separar de otros elementos */
}

.paymentMethod input {
  margin-right: 8px;           /* Espacio entre el radio y la etiqueta */
}

.paymentMethod label {
  font-size: 14px;            
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.purchaseDetails hr{
  border: 0;
  border-top: 2px solid #444; 
  margin: 10px 0; 
}