.inputGroup {
  position: relative;
  input{
    width: 100%;
    height: 40px;
    font-size: 16px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
    outline: none;
    padding-top: 5px;
    padding-left: 45px;
    color: #ffffff;
  }
  .faIcon{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 5px 0 0;
    left: 5px;
    border-right: 2px solid #ffffff;
  }
  button {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    transform: translateY(-50%);
    right: 10px;
    background-color: transparent;
    border: none;
    .ojo {
      width: 25px;
      height: 25px;
      color: #ffffff;
    } 
  }
  input:focus~label,
  input:valid~label {
    top: -1px;
    font-size: 12px;
    background: transparent;
    color: #04FFF2;
  }
  label {
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    left: 45px;
    font-size: 16px;
    color: #ffffff;
    transition: all 0.5s;
  }
}
