.btnCrear{
  width: fit-content;
  height: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  background-color: #D39B34;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  .iconUser{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  span{
    font-size: medium;
    font-weight: bold;
    /* filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.5)); */
  }
}

.modal{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
  .modalContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    width: 600px;
    height: fit-content;
    background-color: #ffffff;
    padding: 20px;
    animation: scaleUp 0.3s forwards;
    border-radius: 10px;
    .close{
      width: 30px;
      height: 30px;
    }
    h2{
      font-size: 30px;
      font-weight: bold;
      font-size: xx-large;
      margin-bottom: 40px;
      text-align: center;
    }
    .inputGroup{
      position: relative;
      display: flex;
      margin-bottom: 30px;
      label{
        width: fit-content;
        padding: 0 5px;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
        background-color: white;
        position: absolute;
        top: -10px;
        left: 10px;
      }
      input{
        width: 100%;
        height: 60px;
        font-size: x-large;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid #000000;
        outline: none;
      }
    }
    .passInput{
      position: relative;
      .showPass{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        border: none;
        color: black;
        background-color: white;
        .eyeIcon{
          width: 30px;
          height: 30px;
        }
      }
    }

    .randomPassword{
      width: fit-content;
      background-color: black;
      font-weight: bold;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      font-size: medium;
      margin-left: 10px;
    }
    .buttons{
      display: flex;
      gap: 20px;
      .btnModal{
        width: 50%;
        height: 50px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #D39B34;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        font-size: medium;
        font-weight: bold;
        margin: 20px auto;
        text-transform: uppercase;
      }
    }
    .rolGroup{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      .optionsAdmin{
        padding: 10px 30px;
        height: 60px;
        width: 50%;
        border-radius: 5px;
        font-size: x-large;
      }
      .descripcionRol{
        color: rgb(62, 160, 75);
        width: 50%;
        padding-left: 20px;
      }
    }
    .radioDiv{
      display: flex;
      justify-content: space-around;
      div{
        display: flex;
        align-items: center;
        label{
          font-size: large;
          margin-right: 5px;
        }
        input{
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes scaleUp {
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}