.dashboardWidgets {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}





/* Responsividad */

@media (max-width: 768px) {
  .dashboardWidgets .widget {
    flex: 1 1 calc(50% - 20px); /* 2 en línea en pantallas medianas */
  }
}

@media (max-width: 480px) {
  .dashboardWidgets .widget {
    flex: 1 1 100%; /* 1 en línea en pantallas pequeñas */
  }
}
