.dashboardWidgets {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;



  .widget {
    flex: 1 1 calc(33.333% - 20px); /* 3 en línea */
    box-sizing: border-box; 
  }

  .smallWidget {
    height: 150px;
    width: 100%; 
  }
}





/* Responsividad */

@media (max-width: 768px) {
  .dashboardWidgets .widget {
    flex: 1 1 calc(50% - 20px); /* 2 en línea en pantallas medianas */
  }
}

@media (max-width: 480px) {
  .dashboardWidgets .widget {
    flex: 1 1 100%; /* 1 en línea en pantallas pequeñas */
  }
}
