.contenedor {
  position: relative;
  width: 90%;
  min-height: 88vh;
  margin-top: 30px;
}

.graphicContainer{
  margin-top: 50px;
}

.div1, .div2, .div3 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49.1%;
  height: 48.3%;
  transition: all 0.3s ease;
  z-index: 0;
  background-color: black;
  border-radius: 10px;
  padding: 5px;
  overflow: hidden;
  cursor: pointer; 
}

.div1 {
  top: 0;
  left: 0;
}

.div2 {
  top: 0;
  right: 0;
}

.div3 {
  bottom: 0;
  left: 0;
}

.div1:hover,
.div2:hover,
.div3:hover {
  transform: scale(1.05); 
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); 
}


.expanded {
  width: 90%;
  height: 90%;
  z-index: 4;
  transform: scale(1); 
  box-shadow: none; 
}

/* Contenedor principal para alinear las tarjetas */
.CardContainer {
  display: flex;
  margin-top: 50px;
  gap: 20px; /* Espacio entre tarjetas */
  width: 90%;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 30px;
}

/* Tarjeta de ganancias */
.CardGanancias {
  background-color: #1e1e1e;
  border-radius: 12px;
  padding: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.CardGanancias:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.CardGananciasTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: #ffffff;
}

.CardGananciasTitle h2 {
  font-size: 1.6rem;
  margin: 0;
  color: #e0e0e0;
  font-weight: 600;
}

.CardGananciasTitle p {
  font-size: 0.9rem;
  color: #b0b0b0;
  margin: 0;
}

.CardGananciasValue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: #00796b;
  font-weight: bold;
  margin-top: 12px;
}

/* Tarjeta de ingresos */
.CardIngresos {
  background-color: #1e1e1e;
  border-radius: 12px;
  padding: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.CardIngresos:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.CardIngresosTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: #ffffff;
}

.CardIngresosTitle h2 {
  font-size: 1.6rem;
  margin: 0;
  color: #e0e0e0;
  font-weight: 600;
}

.CardIngresosTitle p {
  font-size: 0.9rem;
  color: #b0b0b0;
  margin: 0;
}

.CardIngresosValues {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 12px;
}

.CardIngresosValues div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.2rem;
  color: #ffffff;
}

.CardIngresosValues p {
  margin: 0;
  color: #b0b0b0;
}

.CardIngresosValues span {
  font-weight: bold;
  color: #00796b;
  margin-left: 10px;
}

.exportExcel {
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 12px;
  justify-items: center;
  gap: 10px;
  font-size:small;
  span{
    color: #cccccc;
  }
}

.excel{
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: white;
}



.exportExcel img {
  width: 16px;
  height: auto;
  margin-right: 5px;
}

.topProducts {
  margin: 0;
  text-align: center;
  padding: 15px;
  background-color: #1e1e1e; /* Fondo oscuro */
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ligera */
  max-width: 300px;
  color: #f1f1f1;
}

.topProducts > h2 {
  font-size: 1.5rem;
  color: #f1f1f1;
  margin-bottom: 15px;
}

.topProductsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.topProduct {
  padding: 5px 0;
  border-bottom: 1px solid #444;
  width: 100%;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
}

.topProduct:last-child {
  border-bottom: none; 
}

.topProduct > p {
  margin: 0;
  color: #ddd;
}

.topProduct > p:first-child {
  font-weight: bold;
  color: #f1f1f1;
}

.containerMethodPayment{ 
  margin-top: 30px;
  display: flex;
 
}

.graphicMethodPayment {
  width: 64%;
  margin-left: 20px;
  background-color: #1e1e1e;
  border-radius: 10px;
  height: 300px;
  justify-items: center;
}
