html, body {
  height: 100%;
  background-color: #222222; 
  margin: 0; 
  padding: 0; 
}


.dashboardContainer {
  /* background: linear-gradient(45deg, rgb(12, 17, 30), rgb(19, 31, 60)) ; */
  min-height: 100vh;
  background: #181a1b;
  width: 100%;
  .content {
    max-width: 2150px;
    padding: 20px;
    color: white;
    margin-left: 65px;
    transition: all .3s ease;
  }
  .content.open {
    margin-left: 290px;
  }
  .header{
    margin-bottom: 20px;
    padding: 0 30px;
    color: rgb(206, 206, 206);
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .titleLogo{
      display: flex;
      align-items: center;
      gap: 10px;
      .menuIcon{
        height: 40px;
        filter: drop-shadow(0 0px 10px #03e8f4c7);
      }
    }
    h1{
      font-family: 'Lora', 'Android Assassin', 'Jakobenz', 'Tilt Prism', 'VALORANT', 'No Continue';
      text-transform: uppercase;
    }
    /* @supports (-webkit-background-clip: text) {
      h1 {
        background: linear-gradient(to bottom, #ffffff,#03e9f4);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    } */
  }
}

@media (max-width: 768px) {
  .dashboardContainer .content {
    margin-left: 0;
  }
  .dashboardContainer .content.open {
    margin-left: 290px;
  }
  .dashboardContainer .header .titleLogo {
    display: none;
  }
  .dashboardContainer .requestsList {
    overflow-x: auto;
  }
  .dashboardContainer .charts {
    width: calc(100% - 65px);
    overflow-x: auto;
  }
  .dashboardContainer .content.open .charts {
    width: calc(100% - 290px);
  }
}


