.searchSection{
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  margin-bottom: 30px;
  /* background: red; */
  div {
    min-height: 40px;
    max-height: 40px;
    display: flex;
    align-items: center;
    overflow: hidden;
    input {
      height: 40px;
      width: 400px;
      border-radius: 5px;
      border: none;
      margin-left: 5px;
      font-size: 17px;
      outline: none;
      padding: 0 10px;
    }
  }
}

.userSection {
  /* background-color: red; */
  .titleSections {
    display: flex;
    padding: 0 40px;
    width: 900px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
  }

  .itemSection{
    padding: auto;
    display: flex;
    flex-direction: column;
    height: fit-content;
    /* background-color: #fff; */
  }
}

.errorMessage {
  color: rgb(221, 21, 21);
  background: rgb(219, 156, 145);
  padding: 10px 45px;
  font-size: 18px;
  width: fit-content;
  border-radius: 5px;
  margin-top: 0 !important;
}


.labelFill {
  font-size: 16px;
  margin-left: 30px;
}

.filter {
  height: 40px;
  margin: 0 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
