.dashboardContainer {
  background: linear-gradient(45deg, rgb(12, 17, 30), rgb(19, 31, 60)) ;
  min-height: 100vh;
  .content {
    padding: 20px;
    color: white;
    margin-left: 65px;
    transition: all .3s ease;
  }
  .content.open {
    margin-left: 290px;
  }
  .header{
    margin-bottom: 20px;
    padding: 0 30px;
    color: white;
    font-weight: bolder;
    font-size: 20px;

  }
  @supports (-webkit-background-clip: text) {
    .header {
      background: linear-gradient(to bottom, #ffffff,#03e9f4);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}