.dashboardContainer {
  height: 100vh;
  background-color: rgb(20, 27, 45);
  color: white;

  .content {
    flex: 1;
    padding: 20px;
    transition: all .3s ease;
    margin-left: 65px;
    .dashboardHeader {
      margin-bottom: 20px;
      padding-left: 50px;
      width: 100%;
    }

    .dashboardWidgets {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .widget {
        background-color: #353545;
        border-radius: 10px;
        padding: 20px;
      }

      .smallWidget {
        width: 300px;
        height: 150px;
      }

      /* .largeWidget {
        flex: 1;
        height: 150px;
      } */
    }
  }

  .content.open {
    margin-left: 290px;
  }
}
