.dashboardContainer {
  height: 100vh;
  background-color: #1e1e2d;
  color: white;

  .content {
    flex: 1;
    padding: 20px;
    transition: all .3s ease;
  }

  .content.open {
    margin-left: 200px;
  }

  .dashboardHeader {
    margin-bottom: 20px;
    width: 100%;
  }

  .dashboardWidgets {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .widget {
    background-color: #353545;
    border-radius: 10px;
    padding: 20px;
  }

  .smallWidget {
    width: 300px;
    height: 150px;
  }

  .largeWidget {
    flex: 1;
    height: 150px;
  }
}
