.loginGroup{
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    display: flex;
    input[type="checkbox"] {
      height: 17px;
      width: 17px;
      margin-right: 10px;
    }
  }
}

.linkGroup{
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;

  p, a {
    font-size: 15px;
  }
}

.errorMessage {
  color: rgb(221, 21, 21);
  background: rgb(219, 156, 145);
  padding: 10px 5px;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 0 !important;
}
