.loginGroup{
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    display: flex;
    input[type="checkbox"] {
      height: 17px;
      width: 17px;
      margin-right: 10px;
    }
  }
}