body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: black;
}

.h1_patagon {
  justify-content: center;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  span {
    color: #04FFF2;
  }
}

.login-containter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.div_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
  background: linear-gradient(to bottom, #0D1F39, #176290);
  color: #ffffff;
  border: 1px solid #114a6e;
  padding: 20px;
  input {
    background-color: #1a1919;
    border: 1px solid #04FFF2;
    border-radius: 10px;
    color: #ffffff;
  }
  div, h1 {
    width: 100%;
    height: 30px;
  }
}



button {
  color: #ffffff;
  
  &:hover {
    color: #000000;
  }
}

