/* notfound.module.css */
.body{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;    /* Centra verticalmente */
  height: 100vh; /* Altura completa de la pantalla (opcional) */
  
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  box-shadow: #0366d6;
  text-align: center; 
  background: linear-gradient(to bottom, #0d1f39a2, #176290a2);
  color: #ffffff;
  border: 1px solid #114a6e;
  border-radius: 12%;
}

.icon {
  position: relative;
  font-size: 80px;
  color: #d1d5da;
  margin-bottom: 20px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.message {
  font-size: 16px;
  color: #586069;
  max-width: 400px;
  margin-bottom: 20px;
}

.button {
  background-color: #2ea44f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #22863a;
}

.link {
  margin-top: 10px;
  color: #0366d6;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
