.files{
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.fileButton {
  background: none;
  border: none;
  cursor: pointer;

}

.fileButton img {
  width: 25px; /* Ajusta el tamaño para hacerlo más grande */
  height: 25px;
}

#btn {
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #50A98D;
  cursor: pointer;
  color: white;
  box-shadow: 0 5px 0 #3b7e69;
  &:active {
    transform: translateY(5px);
    box-shadow: 0 2px 0 #3b7e69;
  }
}


.actionButtonsContainer {
  display: flex;
  justify-content:center;
  gap: 5px;
}
.actionButtons {
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.SolicitudesContainer {
  background: linear-gradient(45deg, rgb(12, 17, 30), rgb(19, 31, 60)) ;
  min-height: 100vh;
  .content {
    padding: 20px;
    color: white;
    margin-left: 65px;
    transition: all .3s ease;
  }
  .content.open {
    margin-left: 290px;
  }
  .header{
    margin-bottom: 20px;
    padding: 0 30px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  @supports (-webkit-background-clip: text) {
    .header {
      background: linear-gradient(to bottom, #ffffff,#03e9f4);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.filterButtons {
  display: flex;
  gap: 10px; 
  margin-bottom: 20px; 
  button {
    height: 2.5em;
    width: 11.25em;
    max-width: 12.5em;
    padding: 0.3125em;
    border-radius: 0.3125em;
    font-size: 1.0625em;
    font-weight: bold;
    border: none;
    outline: none;
    position: relative;
    white-space: nowrap;
    span{
      filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.5));
    }
  }
}

.filterButtons button {
  background-color: rgba(3, 233, 244, 0.7); 
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 15px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  font-size: 16px; 
}

.filterButtons button:hover {
  background-color: rgba(3, 233, 244, 1);
}

.filterButtons button.active {
  background-color: #5BA165 !important;
  color: white;
  font-weight: bold; 
  box-shadow: 0 4px 0 #355e3b !important; 
  &:active {
    transform: translateY(5px);
    box-shadow: 0 2px 0 #355e3b !important;
  }
}

.excel {
  background: none; /* Sin fondo */
  border: none; /* Sin borde */
  padding: 5px; /* Espaciado interno */
  cursor: pointer; /* Cambia el cursor al pasar */
  display: inline-flex; /* Para alinear la imagen y el texto */
  align-items: center; /* Alinear verticalmente */
}

.excel img {
  width: 20px; /* Tamaño de la imagen */
  height: auto; /* Mantener la proporción */
  margin-right: 5px; /* Espacio entre la imagen y el texto */
}

.excel span {
  font-size: 14px; /* Tamaño de la fuente */
  color: #ffffff; /* Color del texto (cambia a tu preferido) */
}

button.excel span {
  color: #ffffff; /* Asegúrate de que esto tenga prioridad */
}

.excel span {
  color: #ffffff !important; /* Añade !important como último recurso */
}
button {
  color: rgb(255, 255, 255); /* O cualquier otro color */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6 0px;
}

.pagination button {
  margin: 0 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
