html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.dashboard-container {
  display: flex;
  height: 100vh; /* Asegura que ocupe toda la altura */
  width: 100vw; /* Asegura que ocupe todo el ancho */
}

.sidebar {
  width: 240px;
  background-color: #1F2941; /* Color oscuro del sidebar */
  color: #ffffff; /* Texto blanco para que contraste */
  padding: 20px;
}

.profile {
  text-align: center;
  margin-bottom: 30px;
}

.profile-pic {
  width: 80px;
  height: 80px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 auto;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  padding: 10px 0;
  cursor: pointer;
  color: #b0b0b0;
}

.menu ul li.active {
  color: #007bff; /* Color azul para el enlace activo */
}

/* color de los enlaces del menu*/
.sidebar .menu ul li a {
  color: #b0b0b0;
  text-decoration: none; 
}

/* Opcional: Cambia el color cuando el enlace esté activo */
.sidebar .menu ul li a:hover {
  color: #6574cd; /* Cambia el color al pasar el ratón */
}

/* Opcional: Estilo para el enlace activo (enlace seleccionado) */
.sidebar .menu ul li.active a {
  color: #007bff; /* El color que prefieras para el enlace activo */
  font-weight: bold; /* Opcional: resaltar el enlace activo */
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #141B2D;
  color: #ffffff;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.page-count {
  font-size: 14px;
  color: #cccccc;
}

.dashboard-container {
  display: flex;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.solicitudes-list {
  margin-top: 20px;
}

.solicitud-item {
  background-color: #113f5ed6;
  padding: 10px;
  margin-bottom: 10px;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ver-pdf-btn {
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.ver-pdf-btn:hover {
  background-color: #2ecc71;
}

/* Estilos para el contenedor del modal */
.pdf-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
}

/* Estilos para el contenido del modal */
.pdf-container {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 50%;
  max-width: 900px;
  max-height: 95%;
  overflow: auto;
}

/* Contenedor del documento PDF para permitir el scroll interno */
.pdf-document {
  flex: 1; /* Ocupa el espacio restante en el contenedor */
  overflow: hidden; /* Permite el scroll interno */
  max-height: 70vh;
}

.pdf-controls {
  margin-top: 10px;
  text-align: center;
}

.pdf-controls button {
  margin: 0 10px;
}

.pdf-container h2{
  color: #565555;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #e74c3c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;

}