.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  margin-top: 20px;
}

label{
  display: block;
  margin-bottom: 5px;
  
}

label textarea{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  height: 100px;
  resize: none;
  margin-top: 10px;
}

select{
  margin-top: 10px;
  border-radius: 5px;
  margin-left: 20px

  
}

label input{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.modalContent {
  background: rgb(83, 83, 83);
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  max-width: 80%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.modalActions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modalActions button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  color: rgb(83, 83, 83);
  font-size: 12px;
  cursor: pointer;
}
