/* Sección de tarjetas */
.section1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px 0 25px 0;
}

.background{
  background: linear-gradient(135deg, #524f4fcc , rgba(37, 35, 35, 0.514)); /* Degradado suave de gris oscuro a gris medio */
  filter: blur(1px);
  height: 100%;
  width: 100%;
  position: absolute;
  border: 1px rgba(255, 255, 255, 0.6) solid;
  top: 0;
  left: 0;
  z-index: -1;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
}

.card {
  z-index: 2;
  position: relative;
  display: grid;
  grid-row: auto 1fr auto;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 30%;
  margin: 10px;
  color: #333;
  transition: transform 0.3s, box-shadow 0.3s;
  justify-items: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon > * {
  color: #cccccc;
  width: 120px;
  height: 120px;
  border-radius: 25%;
}
.card button {
  /* background: linear-gradient(100deg, #C29D54, #50A98D); */
  background: rgb(43, 43, 43);
  border: #ffffff6e 1px solid;
  width: 50%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
  height: min-content;
}

.card button:hover {
  transform: scale(1.1);
}

.link {
  color: white; /* Color de texto base (para navegadores que no soportan degradados en texto) */
  font-weight: bold;
  text-decoration: none;
  transition: background-position 0.5s ease; 
}

.link:hover {
  background-position: -100%; 
}


/* Encabezado */
.header {
  width: 100%;
  /* padding-top: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #cccccc;
}

.header h1 {
  filter: drop-shadow(5px 5px 3px #00000096);
  font-size: 56px;
  margin: 0;
}

.header h3 {
  margin-top: 10px;
  font-weight: normal;
  color: #cccccc;
}

.card p{
  color: whitesmoke;
  font-size: 16px;
  text-align: justify;
  margin-bottom: 10px;
}
.card h3{
  color: whitesmoke;
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0;
}