.section1 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0 25px 0;
}

.container {
  margin-top: 20px;
}

.background{
  background: linear-gradient(135deg, #524f4fcc , rgba(37, 35, 35, 0.514)); /* Degradado suave de gris oscuro a gris medio */
  filter: blur(1px);
  height: 100%;
  width: 100%;
  position: absolute;
  border: 1px rgba(255, 255, 255, 0.6) solid;
  top: 0;
  left: 0;
  z-index: -1;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
}

.card {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column; /* Estructura vertical */
  justify-content: space-between; /* Asegura que el header esté arriba y el botón abajo */
  align-items: center; /* Centrar contenido horizontalmente */
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 30%;
  max-width: 500px;
  margin: 10px;
  color: #333;
  transition: transform 0.3s, box-shadow 0.3s;
  justify-items: center;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon > * {
  color: #cccccc;
  width: 120px;
  height: 120px;
  border-radius: 25%;
}
.card .link {
  /* background: linear-gradient(100deg, #C29D54, #50A98D); */
  background: rgb(43, 43, 43);
  border: #ffffff6e 1px solid;
  width: 50%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  height: min-content;
  color: white; /* Color de texto base (para navegadores que no soportan degradados en texto) */
  font-weight: bold;
  text-decoration: none;
}

.card .link:hover {
  background: rgb(77, 77, 77);
}

/* Encabezado */
.header {
  width: 100%;
  /* padding-top: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #cccccc;
}

.header h1 {
  filter: drop-shadow(5px 5px 3px #00000096);
  font-size: 50px;
  margin: 0;
}

.header h3 {
  margin-top: 10px;
  font-weight: normal;
  color: #cccccc;
}

.card p{
  color: whitesmoke;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
  padding: 0 20px;
}
.card h3{
  color: whitesmoke;
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .card {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column; /* Estructura vertical */
    justify-content: space-between; /* Asegura que el header esté arriba y el botón abajo */
    align-items: center; /* Centrar contenido horizontalmente */
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 80%;
    margin: 10px;
    color: #333;
    transition: transform 0.3s, box-shadow 0.3s;
    justify-items: center;
  }

  .section1 {
    width: 100%;
    display: flex;
    align-items: center; /* Centrar contenido horizontalmente */
    justify-content: center;
    padding: 20px 0 25px 0;
    flex-direction: column;
  }

  .header h1 {
    filter: drop-shadow(5px 5px 3px #00000096);
    font-size: 45px;
    margin: 0;
  }
  
  .header h3 {
    margin-top: 10px;
    font-weight: normal;
    color: #cccccc;
    font-size: 20px;
    text-align: center;
  }



}
