.bolsaCard {
  background: linear-gradient(5deg, rgb(18, 11, 55), rgb(36, 37, 43));
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  color: white;
  opacity: 0;
  width: calc(33.33% - 20px); /* 3 tarjetas por línea */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5), /* Sombra principal */
              inset 0px 1px 4px rgba(255, 255, 255, 0.1); /* Sombra interna */
  animation: fadeInUp 0.3s  ease forwards;
  animation-delay: var(--animationDelay); /* Soporta un retraso en la animación */
  .bolsaLeft {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    .nombre {
      font-weight: normal;
      border-bottom: 2px solid rgb(90, 81, 81);
      margin-bottom: 5px;
      font-size: 1.2rem;
    }

    .bolsaDetails {
      list-style: none;
      text-align: center;
      width: 100%;

      li{
        font-size: 17px;
      }
    }
  }
  
  .bolsaRight{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;

    .headerRight {
      display: flex;
      width: fit-content;
      flex-direction: column;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
      text-align: center;

      .price {
        background: linear-gradient(145deg, rgb(148, 121, 72), rgb(36, 37, 43));
        padding: 5px 25px;
        border-radius: 7px;
      }
    }

    .botonCompra {
      background: linear-gradient(145deg, #356136, rgb(36, 37, 43));
      color: white;
      border: auto;
      padding: auto;
      border: none;
      width: 150px;
      height: 50px;
      border-radius: 7px;
      font-weight: bold;
      cursor: pointer;
      text-align: center; /* Aligns the text in the center */
      margin: 0; /* Centers the button horizontally */
      box-shadow: 0 4px 8px rgba(57, 28, 28, 0.1),
                  0 6px 20px rgba(0, 0, 0, 0.19)
      ; /* Añadir sombra para efecto de flotación */
      transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */  

      &:hover {
        background-color: #1ace23;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2)
                  , 0 12px 40px rgba(0, 0, 0, 0.23)
        ; /* Aumentar la sombra al pasar el ratón */
      }
    }
  }
}

.bolsaCard:hover {
  transform: scale(1.03); /* Aumenta ligeramente el tamaño */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5), 
              inset 0px 1px 4px rgba(255, 255, 255, 0.1); /* Aumenta la sombra al hacer hover */
}

/* Responsividad */
@media (max-width: 1200px) {
  .bolsaCard {
    width: calc(50% - 20px); /* 2 tarjetas por fila en pantallas medianas */
  }
}

@media (max-width: 768px) {
  .bolsaCard {
    width: 100%; /* 1 tarjeta por fila en pantallas pequeñas */
  }
}

/* Animación */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}