/* Footer.module.css */
.footer {
  background-color: #333;
  width: 100%;
  position: relative;
}

.footer main {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 40px 0;
  color: #fff;
  max-width: 1700px;
}

.footerContent {
  display: flex;
  justify-content: center;
  align-items: center;

}

.footerLinks ul {
  list-style-type: none;
  padding: 0;
}

.footerLinks li {
  display: inline;
  margin: 0 10px;
}

.footerLinks a {
  color: #fff;
  text-decoration: none;
}

.footerSocial a {
  margin: 0 10px;
  color: #fff;
}

.footerSocial i {
  font-size: 20px;
}

.footerBottom {
  margin-top: 20px;
}

.footerLogo{
  position: absolute;
  left: 6%;
  top: 50%;
  transform: translateY(-50%);

  img{
    height: 80px;
    width: auto;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .footerLogo{
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
  
    img{
      height: 60px;
      width: auto;
      margin-top: 10px;
    }
  }

  .footerContent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerLinks a {
    color: #fff;
    text-decoration: none;
    font-size:small;
  }
  .footerBottom {
    margin-top: 20px;
    font-size:small;
  }
}