.tableWrapper {
    margin-top: 20px;
    width: 100%;
    overflow-x: auto; 
}
  
.table {
    width: 100%;
    border-collapse: collapse;
}

.th, .td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
.th {
    background-color: #474646; /* Color de fondo del encabezado */
    color: #ffffff; /* Cambia este color al que prefieras para el texto del encabezado */
    padding: 10px;
    text-align: left;
    font-weight: bold;
}
  
.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
  
.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #474646; /* Color de fondo del botón activo */
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: default;
}  
.pagination select {
    padding: 5px;
    margin-left: 10px;
}


.fileButton img {
    width: 60px; /* Ajusta el tamaño según necesites */
    height: 60px;
    background: none;
}
