.tableWrapper {
    margin-top: 20px;
    width: 100%;
    overflow-x: auto; 
}
  
.table {
    width: 100%;
    border-collapse: collapse;
}
  
.th, .td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
  
.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
  
.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}
  
.pagination select {
    padding: 5px;
    margin-left: 10px;
}

.fileIcon {
    width: 35px;
    height: 35px;
}
.files {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.fileButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.2s;
}

.button{
    background: none;
    border: none;
    padding: 5px;
}