/* Estilos para el menú de hamburguesa */
.hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: left 0.3s ease;
  margin-left: 20px;
  margin-top: 20px;
  &:hover{
    transition: all 0.1s ease;
    scale: 1.4;
    color: rgb(219, 162, 56);
  }
}

.faIcon {
  height: 25px;
  min-width: 25px;
  max-width: 25px;
  color: #ffffff;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  margin-left: 0;
  overflow: hidden;
  width: 65px;
  top: 0;
  height: 100%;
  background-color: #2b2e30;
  /* background: linear-gradient(-45deg, #213c58, #131d2a); */
  
  transition: 0.3s all ease;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2); /* Sombra a la derecha del div */
  
  li:hover{
    cursor: pointer;
    .faIcon{
      transition: all 0.2s ease;
      scale: 1.4;
    }
  }

  .active a,
  .active .faIcon{
    color: rgb(48, 175, 171) !important;
    font-weight: bold !important;    
  }
  &:after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background: linear-gradient(45deg, #388bde, #124047);
    z-index: -1;
    bottom: -230px;
    right: -180px;
    transition: 0.3s all ease;
    border-radius: 50%;
    border: 6px solid rgb(255, 255, 255);
  }
  &:before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background: linear-gradient(225deg, #2c612f, #75bd17);
    z-index: -1;
    top: -160px;
    left: -200px;
    transition: 0.3s all ease;
    border-radius: 50%;
    border: 6px solid rgb(255, 255, 255);
  }
  .profile {
    opacity: 0;
    max-height: 0;
    text-align: center;
    transition: opacity 0.16s ease, max-height 0.35s ease; /* Transición para mostrar/ocultar */
    /* background: #ffffff1e; */
    h2 {
      color: #fff;
    }
    .profilePic {
      width: 80px;
      height: 80px;
      overflow: hidden;
      border-radius: 50%;
      margin-bottom: 10px;
      border: 2px solid #fff;
    }
  }

  .menu {
    margin-top: 10px;
    ul {
      list-style-type: none;
      li {
        position: relative;
        padding: 18px 20px;
        &:hover {
          background-color: rgba(100, 100, 100, 0.379);
        }
        .faIcon{
          transition: all 0.2s ease;
        }
        a {
          text-decoration: none;
          align-items: center;
          color: #b0b0b0;
          cursor: default;
          font-size: 20px;
          display: flex;
          transition: all 0.2s ease;
          span {
            opacity: 0;
            max-height: 0;
            margin-left: 20px;
            overflow: hidden; /* Evitar contenido visible cuando está oculto */
            transition: opacity 0.2s ease, max-height 0.1s ease; /* Transición suave */
          }
        }
      }
    }
  }
}

.sidebar.open {
  left: 0; /* Despliega la sidebar */
  width: 290px;
  .faIcon{
    pointer-events: none;
  }
  .active:hover a,
  .active:hover .faIcon{
    color: rgb(13, 228, 221) !important;
  }
  .profile {
    opacity: 1;
    max-height: 200px; /* Valor suficiente para mostrar todo el contenido */
  }
  &:after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background: linear-gradient(45deg, #388bde, #124047);
    z-index: -1;
    bottom: -175px;
    right: -150px;
    border-radius: 50%;
  }
  &:before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background: linear-gradient(225deg, #2c612f, #75bd17);
    z-index: -1;
    top: -103px;
    left: -103px;
    transition: 0.3s all ease;
    border-radius: 50%;
  }

  ul li a {
    cursor: pointer;
    pointer-events: all;

    span {
      opacity: 1;
      max-height: 50px; /* Valor ajustado para mostrar el texto */
    }
  }

  ul li:hover {
    cursor: pointer;
    padding-left: 40px;
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.379);
    z-index: 1;
    &:after {
      content: "";
      position: absolute;
      width: 10px;
      height: 100%;
      background-color: #ffffff;
      left: 0;
      top: 0;
      transition: width 0.3s ease;
    }
    a,
    .faIcon{
      color: rgb(255, 255, 255);
      transition: all 0.2s ease;
      font-weight: bold;
    }
  }

  ul li:not(:hover) {
    padding-left: 20px;
    transition: all 0.3s ease;
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      background-color: #fff;
      left: 0;
      top: 0;
      transition: width 0.3s ease;
    }
    a {
      color: #b0b0b0;
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: 65px;
    top: 0;
    left: 0;
    flex-direction: row;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Sombra en la parte inferior del div */
    ul {
      display: flex;
      flex-direction: row;
      li {
        padding: 10px;
        &:hover {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
    .profile {
      display: none;
    }
    &:after, &:before {
      display: none;
    }
  }

  .sidebar.open {
    height: auto;
    ul {
      flex-direction: column;
    }
  }
}


