.searchSection{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  min-height: 80px;
  padding: 10px;
  background-color: rgba(42, 46, 46, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  /* background: red; */
  .searchFill_container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    input {
      width: 100%;
      border-radius: 5px;
      border: none;
      margin-left: 10px;
      font-size: 17px;
      height: 40px;
      outline: none;
      padding: 0 10px;
    }
    .contFill{
      display: flex;
      align-items: center;
      width: fit-content;
      .labelFill {
        white-space: nowrap;
        font-size: 16px;
        margin-left: 20px;
      }
      .filter {
        height: 40px;
        margin: 0 10px;
        border: none;
        outline: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
      }
    }
    .off {
      background-color: #e0e0e0; /* Color de fondo gris */
      color: #5d656b; /* Texto gris */
      cursor: not-allowed; /* Cursor para indicar que no es interactivo */
      border: 1px solid #ccc; /* Borde que indica el estado inactivo */
      pointer-events: none; /* Deshabilitar interacciones */
    }
  }
  .sectionBtn {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    justify-content: center;
    button {
      height: 2.5em;
      width: 11.25em;
      min-width: fit-content;
      max-width: 12.5em;
      padding: 0.3125em;
      border-radius: 0.3125em;
      font-size: 1.0625em;
      font-weight: bold;
      border: none;
      outline: none;
      position: relative;
      transition: transform 0.2s, box-shadow 0.2s;
      white-space: nowrap;
      span{
        filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.5));
      }
    }
    .btnOn {
      background-color: #c29d52;
      cursor: pointer;
      color: white;
      box-shadow: 0 5px 0 rgb(168, 124, 41);
      &:active {
        transform: translateY(5px);
        box-shadow: 0 2px 0 rgb(168, 124, 41);
      }
    }
    .btnOff {
      background-color: rgb(110, 86, 41);
      pointer-events: none;
      color: gray;
      box-shadow: 0 5px 0 rgb(85, 66, 31);
    }
  }
}

.userSection {
  /* background-color: red; */
  width: 100%;
  .itemSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 20px;
    width: 100%;
  }
}
/* Media query para pantallas más pequeñas */
@media (max-width: 1325px) {
  .searchSection {
    min-width: 600px;
    width: 100%;
  }
  .userSection {
    min-width: 600px;
    width: 100%;
  }
  .userSection .itemSection {
    grid-template-columns: 1fr 1fr;
  }
}

.errorMessage {
  color: rgb(221, 21, 21);
  background: rgb(219, 156, 145);
  padding: 10px 45px;
  font-size: 18px;
  width: fit-content;
  border-radius: 5px;
  margin-top: 0 !important;
}
.actions{
  display: flex;
  justify-self: center;
  gap: 10px;
  .btnAccion{
    background-color: #c29d52;
    width: 100px;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 1px 7px;
    cursor: pointer;
  }
}