.item {
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 15px;
  min-width: 200px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.192);
  opacity: 0;
  animation: fadeInUp 0.3s  ease forwards;
  animation-delay: var(--animationDelay); /* Soporta un retraso en la animación */
  padding: 5px 10px;
  background-color: rgba(252, 252, 252, 0.171);
  transition: all 0.2s ease;
  z-index: 1;
  .itemBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(73, 73, 73);
    border-radius: 15px;
    border: 2px rgb(117, 117, 117) solid;
    z-index: 0;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .divUsername{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: rgb(37, 37, 37);
    border: rgba(255, 255, 255, 0.267) 2px solid;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 4;   
    opacity: 1; 
    transition: all 0.2s ease;
    cursor: pointer;
    span{
      font-size: x-large;
      font-weight: bolder;
      filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.5));
      color: #fffc;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .open{
    opacity: 0;
    z-index: -1;
  }
  
  .infoDiv{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s ease;  
    span:nth-child(1),
    span:nth-child(3){
      font-weight: bold;
      color: #c2a970;
    }
    span:nth-child(2){
      margin-bottom: 10px;
    }
    .button{
      margin: 5px 0;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: #313131;
      border: none;
      color: #fff;
      cursor: pointer;
      width: 80%;
      transition: all 0.2s ease;
      box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    }
  }
  &:hover {
    .itemBackground,
    .divUsername,
    .infoDiv{
      transform: scale(1.05); /* Crece todo el item */
    }
    .divUsername{
      background-color: rgb(15, 15, 15);
    }

    .itemBackground{
      background-color: rgb(100, 100, 100);
    }
  }
}
/* Animación */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}