.headerLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #181A1B; */
  height: 300px;
  .logo{
    width: auto;
    height: 90px;  
  }
  h2{
    color: #cccccc;
    margin-top: 10px;
    font-size: 30px;
    font-family: Lora;
    background: linear-gradient(to right, rgb(10, 179, 108), rgb(0, 171, 140), rgb(137, 194, 168));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  width: 100%;
  .sectionIzq{
    display: flex;
    align-items: center;
  }
  span{
    padding: 20px 30px;
  }
}