.headerLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #181A1B; */
  height: 300px;
  .logo{
    width: auto;
    height: 90px;  
  }
  h2{
    color: #cccccc;
    margin-top: 10px;
    font-size: 30px;
    font-family: Lora;
    background: linear-gradient(to right, rgb(14, 153, 95), rgb(0, 171, 140), rgb(137, 194, 168));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;  
  color: #cccccc;
  font-size: 20px;
  width: 100%;
  .sectionIzq{
    display: flex;
    align-items: center;
  }
  a{
    text-decoration: none;
    transition: all .2s ease;
    margin: 20px 30px;
    color: #cccccc;
    &:hover{
      color: #07A160;
      transform: scale(1.1);
    }
  }

  .active{
    color: #00AB8C !important;
    font-weight: bolder;
    /* border-bottom: 2px solid #ffffff; */
  }

}