.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1D1D1D;
  color: #cccccc;
  font-size: 20px;
  width: 100%;
  z-index: 2;
  border-bottom: 2px solid #2b2b2b;

  .sectionIzq {
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      color: #cccccc;
    }
  }
  
  .btnGroup{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    &:hover {
      color: #07A160;
      transform: scale(1.1);
      background-color: #2b2b2b;
      
    }
  }
  .logo{
    width: 60px;
    margin-left: 10px;
    margin-right: 20px;
    filter: drop-shadow(5px 5px 2px #00000096);  
  }

  .userDiv {
    position: relative;
    padding: 23px 10px;
    transition: all 0.2s ease;
    &:hover{
      background-color: #2b2b2b;
      .user{
        color: #07A160;
      }
    }
    /* background-color: red; */
    .user {
      /* background-color: aqua; */
      padding: inherit;
    }
    a{
      color: #cccccc;
      cursor: pointer;
      transition: all .2s;
      &:hover{
        background-color: #2b2b2b;
        color: #07A160;
      }
    }
    ul {
      transition: all 0.3s ease;
      position: absolute;
      width: max-content;
      top: 100%;
      right: 0;
      opacity: 0;
      visibility: hidden;
      li {
        text-align: right;
        background-color: #1D1D1D;
        padding: 0 20px;
        border-bottom: 2px solid #2b2b2b;
        transition: .2s all;
          list-style: none;
        a {
          display: block;
          text-decoration: none;
          padding: 10px 0;
        }
        &:hover {
          background-color: #2b2b2b;
        }
      }
      li:nth-child(1) {
        border-top: 2px solid #2b2b2b;
      }
    }

    &:hover ul {
      opacity: 1;
      visibility: visible;
    }
  }

  .active {
    color: #00AB8C !important;
    font-weight: bolder;
  }
}