.containerModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.705);
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
  color: #000;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  padding: 30px;
  border: #757575 2px solid;
  animation: scaleUp 0.3s forwards;
  h1 {
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #000;
    filter: drop-shadow(1px 1px 1px #918484);
  }
  
  .motiveSection {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
      position: absolute;
      top: 50%;
      left: 53%;
      transform: translate(-50%, -50%);
      font-size: 17px;
      white-space: nowrap;
      transition: all 0.5s ease;
      padding: 0 5px;
    }
    
    input{
      height: 40px;
      padding: 0 10px;
      width: 350px;
      border-radius: 5px;
      border: 1px solid #757575;
      outline: none;
      &:focus~label,
      &:valid~label {
        top: -1px;
        left: 110px;
        font-size: 14px;
        background-color: white;
      }
    }
  }
  .buttonSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  button {
    padding: 10px 40px;
    margin: 0 10px;
    border: none;
    background-color: #202020;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    transition: all 0.2s ease ; 
    &:hover {
      background-color: #555555;
      transform: scale(1.05);
    }
  }
  p{
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 1rem;
  }
}

.inactive{
  display: none;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes scaleUp {
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}