.card {
  background-color: #113f5ed6;
  border: 1px solid #313d63;
  border-radius: 8px;
  padding: 16px;
  margin: 8px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  animation: fadeInUp 0.3s  ease forwards;
  animation-delay: var(--animationDelay); /* Soporta un retraso en la animación */
}

.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: #092f47d6;
}

.title {
  font-size: 18px;
  margin-bottom: 8px;
  color: #ffffff;
}

.info {
  font-size: 14px;
  margin: 4px 0;
  color: #dddddd;
}

.files {
  display: flex;
  gap: 8px;
}

.fileButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.2s;
}

.fileButton:hover {
  transform: scale(1.1);
}

.fileIcon {
  width: 50px;
  height: 50px;
}

.actions {
  display: flex;
  gap: 10px; /* Espaciado entre botones */
  margin-left: 0px; /* Margen izquierdo para separar de otros elementos */
}

.actionButton {
  padding: 8px 12px;
  background-color: #007bff; /* Color de fondo */
  color: white; /* Color del texto */
  border: none;
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar cursor al pasar */
  transition: background-color 0.2s; /* Transición suave para el color de fondo */
}

.actionButton:hover {
  background-color: #0056b3; /* Color de fondo al pasar */
}

/* Animación */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}